<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bitacora">
            <h2><span jhiTranslate="innapcitasApp.bitacora.detail.title">Bitacora</span> {{bitacora.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="innapcitasApp.bitacora.fecha">Fecha</span></dt>
                <dd>
                    <span>{{bitacora.fecha}}</span>
                </dd>
                <dt><span jhiTranslate="innapcitasApp.bitacora.titulo">Titulo</span></dt>
                <dd>
                    <span>{{bitacora.titulo}}</span>
                </dd>
                <dt><span jhiTranslate="innapcitasApp.bitacora.detalle">Detalle</span></dt>
                <dd>
                    <span>{{bitacora.detalle}}</span>
                </dd>
                <dt><span jhiTranslate="innapcitasApp.bitacora.tipo">Tipo</span></dt>
                <dd>
                    <span>{{bitacora.tipo}}</span>
                </dd>
                <dt><span jhiTranslate="innapcitasApp.bitacora.user">User</span></dt>
                <dd>
                    {{bitacora.user?.login}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bitacora', bitacora.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
