<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="pieDePaginaInforme">
            <h2><span jhiTranslate="innapcitasApp.pieDePaginaInforme.detail.title">Pie De Pagina Informe</span> {{pieDePaginaInforme.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="innapcitasApp.pieDePaginaInforme.nombre">Nombre</span></dt>
                <dd>
                    <span>{{pieDePaginaInforme.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="innapcitasApp.pieDePaginaInforme.pieDePagina">Pie De Pagina</span></dt>
                <dd>
                    <span>{{pieDePaginaInforme.pieDePagina}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/pie-de-pagina-informe', pieDePaginaInforme.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
