<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-plantilla-recipe-heading" jhiTranslate="innapcitasApp.plantillaRecipe.home.createOrEditLabel">Create or edit a Plantilla Recipe</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!plantillaRecipe.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="plantillaRecipe.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="innapcitasApp.plantillaRecipe.nombre" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                        [(ngModel)]="plantillaRecipe.nombre" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="innapcitasApp.plantillaRecipe.texto">Texto</label>
                    <editor name="texto"
                            required
                            [(ngModel)]="plantillaRecipe.texto"
                            apiKey="5ymwv5nk2b0x6mtw4cyg4u74g2jnyuh6cf5uvfbj7tq1nwzx"
                            [init]="{
                                 height: 500,
                                 menubar: false,
                                 plugins: [
                                   'advlist autolink lists link image charmap print',
                                    'preview anchor searchreplace visualblocks code',
                                    'fullscreen insertdatetime media table paste',
                                    'help wordcount'
                                 ],
                                 toolbar:
                                   'undo redo | formatselect | bold italic backcolor | \
                                   alignleft aligncenter alignright alignjustify | \
                                   bullist numlist outdent indent | removeformat | table media code'
                               }"
                    ></editor>
                    <div [hidden]="!(editForm.controls.texto?.dirty && editForm.controls.texto?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.texto?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="innapcitasApp.plantillaRecipe.medico" for="field_medico">Medico</label>
                    <select class="form-control" id="field_medico" name="medico" [(ngModel)]="plantillaRecipe.medico"  required>
                        <option *ngIf="!editForm.value.medico" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id === plantillaRecipe.medico?.id ? plantillaRecipe.medico : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.medico?.dirty && editForm.controls.medico?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.medico?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <h6>Valores aceptados como referencia:</h6>
                    <div *ngFor="let valor of valores ;">{{valor}}</div>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
