<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-examen-complementario-heading" jhiTranslate="innapcitasApp.examenComplementario.home.createOrEditLabel">Create or edit a Examen Complementario</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!examenComplementario.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="examenComplementario.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="innapcitasApp.examenComplementario.descripcion" for="field_descripcion">Descripcion</label>
                    <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                        [(ngModel)]="examenComplementario.descripcion" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="innapcitasApp.examenComplementario.archivo" for="field_archivo">Archivo</label>
                    <div>
                        <div *ngIf="examenComplementario.archivo" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(examenComplementario.archivoContentType, examenComplementario.archivo)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{examenComplementario.archivoContentType}}, {{byteSize(examenComplementario.archivo)}}</span>
                            <button type="button" (click)="examenComplementario.archivo=null;examenComplementario.archivoContentType=null;"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_archivo" (change)="setFileData($event, examenComplementario, 'archivo', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="archivo" id="field_archivo"
                        [(ngModel)]="examenComplementario.archivo" />
                    <input type="hidden" class="form-control" name="archivoContentType" id="field_archivoContentType"
                        [(ngModel)]="examenComplementario.archivoContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="innapcitasApp.examenComplementario.evolucionPaciente" for="field_evolucionPaciente">Evolucion Paciente</label>
                    <select class="form-control" id="field_evolucionPaciente" name="evolucionPaciente" [(ngModel)]="examenComplementario.evolucionPaciente"  required>
                        <option *ngIf="!editForm.value.evolucionPaciente" [ngValue]="null" selected></option>
                        <option [ngValue]="evolucionPacienteOption.id === examenComplementario.evolucionPaciente?.id ? examenComplementario.evolucionPaciente : evolucionPacienteOption" *ngFor="let evolucionPacienteOption of evolucionpacientes; trackBy: trackEvolucionPacienteById">{{evolucionPacienteOption.id}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.evolucionPaciente?.dirty && editForm.controls.evolucionPaciente?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.evolucionPaciente?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
