<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="plantillaHistoriaPersonalAdulto">
            <h2><span jhiTranslate="innapcitasApp.plantillaHistoriaPersonalAdulto.detail.title">Plantilla Historia Personal Adulto</span> {{plantillaHistoriaPersonalAdulto.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="innapcitasApp.plantillaHistoriaPersonalAdulto.nombre">Nombre</span></dt>
                <dd>
                    <span>{{plantillaHistoriaPersonalAdulto.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="innapcitasApp.plantillaHistoriaPersonalAdulto.contenido">Contenido</span></dt>
                <dd>
                    <span>{{plantillaHistoriaPersonalAdulto.contenido}}</span>
                </dd>
                <dt><span jhiTranslate="innapcitasApp.plantillaHistoriaPersonalAdulto.activo">Activo</span></dt>
                <dd>
                    <span>{{plantillaHistoriaPersonalAdulto.activo}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/plantilla-historia-personal-adulto', plantillaHistoriaPersonalAdulto.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
