<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="estatusCita">
            <h2><span jhiTranslate="innapcitasApp.estatusCita.detail.title">Estatus Cita</span> {{estatusCita.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="innapcitasApp.estatusCita.nombre">Nombre</span></dt>
                <dd>
                    <span>{{estatusCita.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="innapcitasApp.estatusCita.descripcion">Descripcion</span></dt>
                <dd>
                    <span>{{estatusCita.descripcion}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/estatus-cita', estatusCita.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
