<div>
    <h2 id="page-heading">
        <span jhiTranslate="innapcitasApp.estatusCita.home.title">Estatus Citas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-estatus-cita" [routerLink]="['/estatus-cita/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="innapcitasApp.estatusCita.home.createLabel">
            Create new Estatus Cita
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="estatusCitas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nombre"><span jhiTranslate="innapcitasApp.estatusCita.nombre">Nombre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="descripcion"><span jhiTranslate="innapcitasApp.estatusCita.descripcion">Descripcion</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let estatusCita of estatusCitas ;trackBy: trackId">
                <td><a [routerLink]="['/estatus-cita', estatusCita.id, 'view' ]">{{estatusCita.id}}</a></td>
                <td>{{estatusCita.nombre}}</td>
                <td>{{estatusCita.descripcion}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/estatus-cita', estatusCita.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/estatus-cita', estatusCita.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="estatusCitas && estatusCitas.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
